@import url("https://fonts.googleapis.com/css?family=Lobster&display=swap");
:root {
  --main-color: rgba(13, 110, 139, 0.75);
  --overlay-color: rgba(24, 39, 51, 0.85);
}
.animation{
  animation: spin 10s infinite;
  animation-play-state: paused;
  background:mintcream;
  border-radius: 30% 30% 30% 30%;
  display:block;
  height:100px;
  width:100px;
 }
.animation:hover{
  animation-play-state: running;
}
.ally{
text-align: center;
color: brown;
pointer-events: none;


}
@keyframes spin {
  100%{transform: rotate(1turn);}
}
.back_boi{
  margin: 0;
  padding: 0;
}
 .back_boi:hover{
   border-radius: 50% 50% 50% 50%;
   box-shadow: 3px 3px 3px 3px black ;
    }

.container-fluid{
  background: url(/coffe-2991458_1920.jpg) fixed center no-repeat;
  background-size: cover;
  font-family: "Lobster", cursive;
  font-style: italic;
  font-weight: bold;
  /* text-shadow: 0 0 3px rgb(231, 129, 129); */
}
.icon_dba{
  padding: 5px;
  transform: rotate(-90deg);
 }
 .ieFix{
  min-height: 1rem;
}
img{
  align-self: center;
  max-height: 250px;
  max-width: 50%;
 }
 .not_dis{
   background-color: rgba(12, 34, 34, 0.75);
   cursor:default !important;
   display: block;
 }
.top_boi.green {color: #00cc00; }





