@import url("https://fonts.googleapis.com/css?family=Lobster&display=swap");
:root {
  --main-color: rgba(13, 110, 139, 0.75);
  --overlay-color: rgba(24, 39, 51, 0.85);
}
 .back_boi:hover{
   box-shadow: 3px 3px 3px 3px black ;
   border-radius: 50% 50% 50% 50%;
   right:3px;
  top:10px;
 }
.container-fluid{
    background: url(/coffe-2991458_1920.jpg) fixed center no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  font-family: "Lobster", cursive;
  font-style: italic;
  font-weight: bold
}
#menu a{
  text-decoration: none;
  font-size: 1.5vw;
  color: #000000;
  padding: 5px;
 }
 #menu ul li{
  display: inline;
 }
 .dropdown_menu{
  display: none;
 }
.ieFix{
  min-height: 1rem;
}
.menu-bar {
  padding: 0;
  width: 20em;
  margin: 24px;
  /* overflow-x: 1; */
}
img{
  max-width: 100%;
  height: auto;
}
